@import url('plus-jakarta-sans.css');

:root {
    --color-white: #FFFFFF;
    --color-dark-blue: #13183F;
    --color-blue-grey: #666CA3;
    --color-grey: #83869A;
    --color-pink: #F74780;

    --gradient-orange-pink: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --gradient-white: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 50%, #F0F1FF 100%);
    --gradient-blue-pink: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: PlusJakartaSans-Medium, sans-serif;
    background-color: var(--color-white);
    color: var(--color-grey);
    font-size: 1.5rem;

    position: relative;
}

// Typhography

h1 {
    font-family: PlusJakartaSans-ExtraBold;
    font-size: 3.6rem;
}

h2 {
    font-family: PlusJakartaSans-ExtraBold;
    font-size: 3.2rem;
    line-height: 4rem;
}

h3 {
    font-family: PlusJakartaSans-ExtraBold;
    font-size: 2.4rem;
    line-height: 3rem;
}

p {
    font-family: PlusJakartaSans-Medium;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

////////////////

footer {
    background-color: var(--color-dark-blue);

    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: center;
}

.content {
    overflow: hidden;
}

.navbar {
    width: 111rem;
    height: 10.518rem;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 {
        color: var(--color-dark-blue);
    }

    &__button {
        width: 16.7rem;
        height: 5.6rem;
        background-color: var(--color-dark-blue);

        &:hover {
            background-color: var(--color-blue-grey);
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradient-white);
}

.presentation-container {
    width: 111rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation {
    width: 50%;
    height: 35.9rem;

    &__title {
        font-family: PlusJakartaSans-ExtraBold;
        font-size: 5.6rem;
        line-height: 7.056rem;
        color: var(--color-dark-blue);
    }

    &__text {
        width: 43rem;
        margin: 4.6rem 0;
    }
}

.main-photo {
    width: 50%;
    height: 67rem;
    position: relative;

    &__picture {
        bottom: 0;

        & img {
            margin-top: -24.4rem;
        }
    }
}

.btn {
    font-family: PlusJakartaSans-Bold;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--color-white);
    padding: 1.5rem 3rem;
    border-radius: 4.5rem;
    border: none;
    cursor: pointer;

    &--dark {
        background-color: var(--color-dark-blue);

        &:hover {
            background-color: var(--color-blue-grey);
        }
    }

    &--primary {
        background: var(--gradient-orange-pink);

        &:hover {
            opacity: .5;
        }
    }

    &--footer {
        background: var(--gradient-blue-pink);

        &:hover {
            opacity: .5;
        }
    }
}

.cards-container {
    width: 111rem;
    display: grid;
    margin: 14rem 0;
 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 32.2rem 32.2rem;
 
    grid-row-gap: 8.8rem;
    grid-column-gap: 3rem;
}

.card {
    padding: 6.4rem 3.2rem 3.2rem 3.2rem;
    border-radius: 1.5rem;
    position: relative;

    &--title {
        background: var(--gradient-orange-pink);

        & h2 {
            color: var(--color-white);
        }
    }

    &--text {
        background-color: var(--color-white);

        & h3 {
            color: var(--color-dark-blue);
        }

        & p {
            margin-top: 2.4rem;
        }
    }

    &__circle {
        position: absolute;
        background: var(--gradient-orange-pink);
        width: 5.6rem;
        height: 5.6rem;
        border-radius: 2.8rem;
        top: -2.8rem;
    }

    & a {
        font-family: PlusJakartaSans-Bold;
        font-size: 1.8rem;
        color: var(--color-pink);
        text-decoration: none;

        position: absolute;
        bottom: 4rem;

        &:hover {
            opacity: .5;
        }
    }
}

.footer {
    width: 111rem;
    height: 10.518rem;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 {
        color: var(--color-white);
    }

    &__button {
        width: 16.7rem;
        height: 5.6rem;
        background-color: var(--color-dark-blue);

        &:hover {
            background-color: var(--color-blue-grey);
        }
    }
}

.attribution { 
    font-size: 1.1rem; 
    text-align: center; 
    z-index: 9999999;
    width: 100%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.attribution a { 
    color: var(--color-white); 
}

@media (max-width: 1190px) { 
    html {
        font-size: 55.5555555555%;
    }

    .presentation {
        height: 32.9rem;
    
        &__title {
            font-size: 40px;
            line-height: 50.4px;
        }
    
        &__text {
            width: 45rem;
            margin: 4.6rem 0;
        }
    }

    .navbar,
    .presentation-container,
    .footer {
        width: 689.8px;
    }

    .cards-container {
        width: 689.8px;
        margin: 14rem 0;
     
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 32.2rem 32.2rem 32.2rem;
    }

    .main-photo {
        height: 55rem;
        &__picture {
            & img {
                margin-top: -20.4rem;
            }
        }
    }

}

@media (max-width: 764px) { 
    header {
        margin-bottom: 20px;
    }

    .presentation-container {
        flex-direction: column;
        max-width: 343px;
        align-items: center;
    }

    .presentation {
        width: 100%;
        height: 32.9rem;
    
        &__title {
            font-size: 40px;
            line-height: 50.4px;
        }
    
        &__text {
            width: 100%;
            margin: 4.6rem 0;
        }
    }

    .navbar,
    .footer {
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
    }

    .cards-container {
        max-width: 343px;
        margin: 0 16px 80px 16px;

        grid-row-gap: 4.8rem;
     
        grid-template-columns: 1fr;
        grid-template-rows: 22.2rem 32.2rem 32.2rem 32.2rem 32.2rem 32.2rem;
    }

    .main-photo {
        height: 43rem;

        &__picture {
            & img {
                margin-top: 1.6rem;
                margin-left: -130px;
            }
        }
    }
}